*{
    margin: 0;
    padding: 0;
    border-style: border-box;
    text-align: center;
    font-family: sans-serif;
}

body{
    background-color: #ffffe6;
}
  
caption{
    font-weight: bold;
    font-size: 75px;
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
}

#color1{
    color: red;
}

#color2{
    color: green;
}

#color3{
    color: blue;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
}
  
td {
    text-align: center;
}